Q1. Values are:       'hello', -87.6, 6                 
    Expressions are:  *, -, /, +

Q2. String: A string is a datatype and a sequence of characters.                    
    Variable: A variable is a named memory location that can hold different type of data.

Q3. Three different datatypes would be:-           
    i)   numeric - int, float, complex. These datatypes are used to represent numeric values.                 
    ii)  boolean - True, False.                      
    iii) string - is a sequence of characters.

Q4. An expression is a combination of values, variables, operators, and calls to functions. Expressions are meant to be evaluated which yields a result.

Q5. An expression evaluates to a single value, whereas a statement does not.

Q6. The variable bacon contains the value 22

Q7. Both the expressions will result in 'spamspamspam'

Q8. 100 represents a numeric value and hence cannot be used a variable name

Q9. int(), float(), str() are the 3 functions that can be used to get the integer, floating-point number, or string version of a value

Q10. 99 is an integer value and hence cannot be concatenated to a string. We can solve this problem by using '99' or "99"